.field--name-field-website,
.field--name-field-email {
  @include inline-field;
}

.field--type-geolocation,
.field--type-address {
  @include breakpoint($laptop) {
    display: inline-block;
    width: 29em;
    margin-right: 1em;
    vertical-align: top;
    min-height: 20em;
  }
}

.field--type-geolocation {
  clear: left;
  margin-top: .45em;

  .form-item {
    margin-top: 0;
  }
}

//
//.field--widget-address-blank {
//  visibility: hidden;
//}
