@mixin inline-field {
  @include breakpoint($laptop) {
    display: inline-block;
    margin-right: 1em;
    max-width: 49%;
    vertical-align: top;
  }
}

@mixin inline-clear {
  &::after {
    display: block;
    width: 100vw;
    content: '';
  }
}
