.description {
  margin-top: .25em;
}

.form-url {
  max-width: 20em;
}

// TODO: Not sure where this comes from...
.field--type-language,
.field--name-body .filter-wrapper {
  display: none;
}

.form-checkboxes {
  .form-item {
    display: inline-block;
    margin-right: 1em;
    min-width: 5em;
  }
}

.form-number {
  width: 8em;
}

.dropbutton-multiple .dropbutton .dropbutton-action .form-submit { // scss-lint:disable SelectorDepth
  margin: 0;
  padding: .5em;
}

