.description {
  margin-top: .25em;
}

.form-url {
  max-width: 20em;
}

// TODO: Not sure where this comes from...
.field--type-language {
  display: none;
}

.form-checkboxes {
  .form-item {
    display: inline-block;
    min-width: 5em;
    margin-right: 1em;
  }
}

.form-number {
  width: 8em;
}
