.field--type-office-hours {
  th {
    display: none;

    &:first-child {
      display: inline-block;
    }
  }

  tr,
  td {
    display: block;
    float: left;
    margin-right: 1em;
  }

  tr.odd {
    clear: left;

    td {
      &:first-child {
        min-width: 7em;
      }
    }
  }

  td:nth-child(2) {
    margin-right: .25em;

    &:after {
      content: '\2014'; // Em dash
    }
  }

  .form-text {
    display: none;
  }
}
