.field--type-office-hours {
  th {
    display: none;
  }

  td {
    display: inline-block;
    margin: 0 1em 1em 0;

    &:first-child {
      min-width: 7em;
    }

    // From time.
    &:nth-child(2) {
      margin-right: 2em;
    }
  }

  // Hide the comments field.
  .form-text {
    display: none;
  }
}

@include breakpoint($mobile-only) {
  .field--type-office-hours {
    td {
      display: block;
    }
  }
}

.office-hours-add-link,
.office-hours-delete-link,
.office-hours-copy-link {
  @include button-secondary;
  font-size: .8rem;
  text-decoration: none;
}
